<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
	</head>
	<div class="center hero-unit">
		<h1>PhotoFlip</h1>
			<p>Add photos and share them with friends!
			</p>
  <h2>
    This is the home page for the photo flip rails application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
</html>