<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
	</head>
	<div class="center hero-unit">
		<h1>PhotoFlip</h1>
			<h2>Add photos and share them with friends!
			</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Login", login_path, class: "btn btn-large btn-primary"%>
</div>
</html>
