	<h1>All photos</h1>

	<ul class="thumbnails">
		<% @photos.each do |photo| %>
		  <li class="span4">
		    <a href="#" class="thumbnail">
		      <%= image_tag photo.file.url(:square) %>
		    </a>
		  </li>
   		<% end %>
</ul>


	
    
    